/* mobile first */
.skip {
  display: block;
  position: absolute;
  left: -200px;
}
.skip:focus {
  font-size: xx-small;
  left: 20px;
  z-index: 2;
  top: 5px;
}

.freeze {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

body {
    background-color: white;
}

h1 {
    font-size:xx-large;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
    text-align: center;
    color: #c21858;
}

h2 {
    font-size:x-large;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    color: #c21858;
    margin-left: 20px;
}

h3 {
    font-size:large;
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
    color: #c21858;
    margin-left: 20px;
}

h4 {
    font-size:medium;
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
    color: black;
    margin-left: 20px;
}

p {
    line-height: 1.5;
    background-color: white;
    color: black;
}

.p1 {
    text-align: center;
    background-color: white;
}

img {
    padding: 0px;
    margin: 0px;
    margin-top: 7%;
    width: 100%;
}
.img3 {
    padding: 0px;
    margin-left: 37%;
    width: 25%;
    border: 10px solid #c21858;
}

p {
    background-color: white;
    padding: 20px;
}

body {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
  }

  .mobile-container {
    min-width: 375px;
    margin: auto;
    background-color: white;
    height: 500px;
    border-radius: 10px;
    position: relative;
  }

  .topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: #c21858;
    background-color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #ccc;
    color: #c21858;
  }

  .active {
    background-color: pink;
    color: white;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
 }

.top {
    text-align: center;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  button:first-child {
    background-color: white;
    color: black;
    font-size: 15px;
  }

  button:nth-child(2) {
    background-color: white;
    color: black;
    font-size: 15px;
    margin-left: 50px;
  }

  .dark-mode {
    background-color: #000000;
  }

/* tablet */
@media (min-width: 768px) {

.mobile-container {
    min-width: 768px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img {
  padding: 0px;
  margin: 0px;
  margin-top: 4%;
  width: 100%;
}

/* desktop */
@media (min-width: 992px) {}
/* want regular nav bar view no hamburger menu */

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}
